DATABASE_URL="postgresql://user:password@localhost:5432/dsd_db"
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
JWT_REFRESH_SECRET="your-refresh-secret-key-min-32-chars"
JWT_EXPIRES_IN="8h"
JWT_REFRESH_EXPIRES_IN="30d"
PORT=3000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
